<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-document-parallel-heading">Create or edit a Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!document.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="document.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_content">Content</label>
                    <div>
                        <div *ngIf="document.content" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(document.contentContentType, document.content)">open</a><br>
                            <span class="pull-left">{{document.contentContentType}}, {{byteSize(document.content)}}</span>
                            <button type="button" (click)="document.content=null;document.contentContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_content" (change)="setFileData($event, document, 'content', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="content" id="field_content"
                        [(ngModel)]="document.content" required/>
                    <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                        [(ngModel)]="document.contentContentType" />
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                        [(ngModel)]="document.fileName" required/>
                    <div [hidden]="!(editForm.controls.fileName?.dirty && editForm.controls.fileName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fileName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="document.title" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_metaTransaction">Meta Transaction</label>
                    <select class="form-control" id="field_metaTransaction" name="metaTransaction" [(ngModel)]="document.metaTransaction" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="metaTransactionOption.id === document.metaTransaction?.id ? document.metaTransaction : metaTransactionOption" *ngFor="let metaTransactionOption of metatransactions; trackBy: trackMetaTransactionById">{{metaTransactionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
