<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span>Document</span> {{document.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <div *ngIf="document.content">
                        <a (click)="openFile(document.contentContentType, document.content)">open</a>
                        {{document.contentContentType}}, {{byteSize(document.content)}}
                    </div>
                </dd>
                <dt><span>File Name</span></dt>
                <dd>
                    <span>{{document.fileName}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{document.title}}</span>
                </dd>
                <dt><span>Meta Transaction</span></dt>
                <dd>
                    <div *ngIf="document.metaTransaction">
                        <a [routerLink]="['/meta-transaction-parallel', document.metaTransaction?.id, 'view']">{{document.metaTransaction?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document-parallel', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
