<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-signature-field-parallel-heading">Create or edit a Signature Field</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!signatureField.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="signatureField.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_page">Page</label>
                    <input type="number" class="form-control" name="page" id="field_page"
                        [(ngModel)]="signatureField.page" required/>
                    <div [hidden]="!(editForm.controls.page?.dirty && editForm.controls.page?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.page?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.page?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_x">X</label>
                    <input type="number" class="form-control" name="x" id="field_x"
                        [(ngModel)]="signatureField.x" required/>
                    <div [hidden]="!(editForm.controls.x?.dirty && editForm.controls.x?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.x?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.x?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_y">Y</label>
                    <input type="number" class="form-control" name="y" id="field_y"
                        [(ngModel)]="signatureField.y" required/>
                    <div [hidden]="!(editForm.controls.y?.dirty && editForm.controls.y?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.y?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.y?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <div *ngIf="signatureField.image" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(signatureField.imageContentType, signatureField.image)">open</a><br>
                            <span class="pull-left">{{signatureField.imageContentType}}, {{byteSize(signatureField.image)}}</span>
                            <button type="button" (click)="signatureField.image=null;signatureField.imageContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, signatureField, 'image', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="signatureField.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="signatureField.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_signerId">Signer Id</label>
                    <input type="number" class="form-control" name="signerId" id="field_signerId"
                        [(ngModel)]="signatureField.signerId" required/>
                    <div [hidden]="!(editForm.controls.signerId?.dirty && editForm.controls.signerId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.signerId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.signerId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_metaTransaction">Meta Transaction</label>
                    <select class="form-control" id="field_metaTransaction" name="metaTransaction" [(ngModel)]="signatureField.metaTransaction" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentsOption.id === signatureField.metaTransaction?.id ? signatureField.metaTransaction : documentsOption" *ngFor="let documentsOption of documents; trackBy: trackDocumentsById">{{documentsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
