<div>
    <h2 id="page-heading">
        <span>Meta Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meta-transaction-parallel" [routerLink]="['/meta-transaction-parallel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Meta Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="metaTransactions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profile"><span>Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owner"><span>Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayDateTimeOnSignatureField"><span>Display Date Time On Signature Field</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="geometreSignatureRequired"><span>Geometre Signature Required</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logoForGeometreSignatureField"><span>Logo For Geometre Signature Field</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="metatransactionDuration"><span>Metatransaction Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let metaTransaction of metaTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/meta-transaction-parallel', metaTransaction.id, 'view' ]">{{metaTransaction.id}}</a></td>
                <td>{{metaTransaction.status}}</td>
                <td>{{metaTransaction.profile}}</td>
                <td>{{metaTransaction.owner}}</td>
                <td>{{metaTransaction.name}}</td>
                <td>{{metaTransaction.displayDateTimeOnSignatureField}}</td>
                <td>{{metaTransaction.geometreSignatureRequired}}</td>
                <td>
                    <a *ngIf="metaTransaction.logoForGeometreSignatureField" (click)="openFile(metaTransaction.logoForGeometreSignatureFieldContentType, metaTransaction.logoForGeometreSignatureField)">open</a>
                    <span *ngIf="metaTransaction.logoForGeometreSignatureField">{{metaTransaction.logoForGeometreSignatureFieldContentType}}, {{byteSize(metaTransaction.logoForGeometreSignatureField)}}</span>
                </td>
                <td>{{metaTransaction.metatransactionDuration}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meta-transaction-parallel', metaTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meta-transaction-parallel', metaTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'meta-transaction-parallel', { outlets: { popup: metaTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="metaTransactions && metaTransactions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
